@font-face {
	font-family: bebas_neue;
	src: url(/static/assets/fonts/bebasneue_regular-webfont.woff);
}

.navBar > li.active:after {
    width: 100%;
}

.navBar > li.active a {
    background-color: unset !important;
    background: transparent;
}

@media (max-width: 1199px) {
    .black-friday-text {
        line-height: 1;
    }
}

@media (max-width: 991px) {
    .black-friday-wrap {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .slider-container {
        width: 100%;
    }
}

@media (max-width: 630px) {
    .black-friday-text {
        position: relative;
        width: 100%;
    }
    .black-friday-img {
        width: 100%;
    }
}