.px-65 {
    padding-left: 65px;
    padding-right: 65px;
}
.service-wrap-items {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
}
.service-wrap-items h1 {
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 30px;
}
.service-left-item {
    width: 35%;
    margin-right: 15px;
    overflow: hidden;
}
.service-right-item {
    width: 65%;
    padding-left: 15px;
}
.service-left-title {
    font-weight: bold;
    font-size: 30px;
    position: relative;
}
.service-left-title:after {
    content: '';
    position: absolute;
    border-right: 1px solid #000;
    top: 100%;
    right: 1px;
    height: 1000px;
}
.service-inner-text {
    margin-bottom: 60px;
    line-height: 2.3;
}
@media (max-width: 990px) {
    .service-wrap-header {
        flex-wrap: wrap;
    }
    .service-wrap-header .service-left-item {
        width: 100%;
    }
    .service-wrap-header .service-right-item {
        width: 100%;
    }
    .service-wrap-header .service-left-item .text-right div {
        text-align: center;
    }

}
@media (max-width: 767px) {
    .px-65 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .service-wrap-items {
        padding-left: 0px;
        padding-right: 0px;
    }
    .service-left-item {
        margin-right: 0px;
    }
}